<div class="row page-titles mx-0">
    <div class="col p-md-0">
        	<!--<ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Form</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
        </ol> -->
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- <h4 class="card-title">Form</h4>  -->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                 <!-- <h3>Angular 7 Template-Driven Form Validation</h3> -->
                                <form   novalidate>
                                    <div class="form-group" >
                                       
                    						<h4 translate='firstdayHeader'>{{translate}}</h4>
                      <p class="text-muted" translate='welcometext1'>{{translate}}</p>
                      
                                        
                                    </div>
                                    <div class="form-group">
                                        <button  class="btn btn-primary">Siguiente</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>