{{user}}

<!--**********************************
            Nav header start
        ***********************************-->
<div class="nav-header">
    <div class="brand-logo">
        <a href="index.html">
          
            <span class="brand-title">
              <!--  <img src="../assets/images/logo-text.png" alt="">-->
              <p style="color:#ffffff">KIABI</p>
              </span>
        </a>
    </div>
</div>
<!--**********************************
                Nav header end
            ***********************************-->

<!--**********************************
                Header start
            ***********************************-->
<div class="header">
    <div class="header-content clearfix">

        <div class="nav-control">
            <div class="hamburger">
                <span class="toggle-icon"><i class="icon-menu"></i></span>
            </div>
        </div>
   
        <div class="header-right">
            <ul class="clearfix">
              
                <li class="icons dropdown">
                    <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                        <span class="">{{userdata}}</span>
                       
                    </div>
                    <div class="drop-down dropdown-profile   dropdown-menu">
                        <div class="dropdown-content-body">
                            <ul>
                          
                                
            
                                <li><a aria-expanded="false" routerLinkActive="active" routerLink="/logout"><i class="icon-key"></i> <span>Logout</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--**********************************
                Header end ti-comment-alt
            ***********************************-->