<div class="row page-titles mx-0">
    <div class="col p-md-0">
        	<!--<ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Form</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
        </ol> -->
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- <h4 class="card-title">Form</h4>  -->
                    <div class="container">
                    
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <h3 >{{pagename}}</h3> 
                                <form #demoform="ngForm" (ngSubmit)="demoform.form.valid && onSubmit()" novalidate>
                                    <div class="form-group" *ngFor="let item of getdata.result[0].formfields;let i = index">
                                        <label for="all" translate>{{item.IAMLabel}} </label>
                                        <span style="color: red" *ngIf="item.IAMMandatory =='TRUE'">* </span>
                                        
                                         
                    		<!--info -->
							<span *ngIf="item.IAMValidateAgainstDuplicate !='compare'"><i
							class="fa fa-info-circle" (mouseover)="item.changeText=true" (mouseout)="item.changeText=false"></i> 
							</span> 
							 <span *ngIf="item.changeText"  translate >{{item.IAMLabel}}.H </span>
							<!--info -->

                                        <input type="{{item.IAMFieldType}}+1" (keyup) ="item.errorhandling=true" class="form-control" name="feild_{{i}}" [(ngModel)]="item.apivalue" #nameControl="ngModel" [required]="item.IAMMandatory=='TRUE'" [pattern]="item.IAMRegExp" *ngIf="item.IAMFieldType=='text' && item.IAMValidateAgainstDuplicate==null"
                                        />
                                        <input type="{{item.IAMFieldType}}+2" (keyup) ="item.errorhandling=true" class="form-control" name="feild_{{i}}" [(ngModel)]="item.apivalue" #nameControl="ngModel" [required]="item.IAMMandatory=='TRUE'" [pattern]="item.IAMRegExp" validateEqual="feild_{{i+1}}" reverse="true" *ngIf="item.IAMFieldType=='text' && item.IAMValidateAgainstDuplicate==true"
                                        />
                                        <input type="{{item.IAMFieldType}}+3" (keyup) ="item.errorhandling=true" class="form-control" name="feild_{{i}}" [(ngModel)]="item.apivalue" #nameControl="ngModel" [required]="item.IAMMandatory=='TRUE'" [pattern]="item.IAMRegExp" validateEqual="feild_{{i-1}}" *ngIf="item.IAMFieldType=='text' && item.IAMValidateAgainstDuplicate=='compare'"
                                        />

                                      <select class="form-control" name="feild_{{i}}" [(ngModel)]="item.apivalue" #nameControl="ngModel" [hidden]="item.IAMFieldType!='select'" [required]="item.IAMMandatory=='no'">
                      <option [value]="null">Please select a language</option>
                      <option *ngFor="let optionvalue of item.data" [value]="optionvalue.IAMRefName">{{optionvalue.IAMRefName}}
                      </option>
                    </select>
                                        <div *ngIf="!nameControl?.valid && item.errorhandling==true"  class="text-danger text-left">
                                            <div *ngIf="nameControl?.errors?.required" translate>{{item.IAMLabel}} required</div>
                                            <div *ngIf="nameControl?.errors?.pattern" translate>{{item.IAMRegExp}}</div>
                                            <div *ngIf="nameControl?.errors?.validateEqual && !nameControl?.errors?.required && !nameControl?.errors?.pattern" translate>Miss match content</div>
                                        </div>
                                    </div>
                                    <div class="form-group" *ngIf="formbutton=='true'">
                                        <button [disabled]="!demoform?.valid" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>