<div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Form</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
            </ol>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Form</h4>
                        <div class="container">
                            <div class="row">
                                    <div class="col">
                                    <form-wizard>
                                            <div *ngFor="let result of getdata.result;let j = index">
                                                    <wizard-step [title]="result.pagekey" [isValid]="demoform.form.valid" (onComplete)="submit()">
                                                            <!-- <h1>Step {{j+1}}</h1> -->
                                                            <form #demoform="ngForm"  novalidate style="padding: 50px;">
                                                                    <div class="form-group" *ngFor="let item of result.formfields;let i = index">
                                                                        <label for="confirmPassword" translate>{{item.IAMLabel}} </label>
                                        
                                                                        <input type="{{item.IAMFieldType}}+1" class="form-control" name="feild_{{i}}" [(ngModel)]="item.apivalue" #nameControl="ngModel" [required]="item.IAMMandatory=='yes'" [pattern]="item.IAMRegExp" *ngIf="item.IAMFieldType=='text' && item.IAMValidateAgainstDuplicate==false"
                                                                        />
                                                                        <input type="{{item.IAMFieldType}}+2" class="form-control" name="feild_{{i}}" [(ngModel)]="item.apivalue" #nameControl="ngModel" [required]="item.IAMMandatory=='yes'" [pattern]="item.IAMRegExp" validateEqual="feild_{{i+1}}" reverse="true" *ngIf="item.IAMFieldType=='text' && item.IAMValidateAgainstDuplicate==true"
                                                                        />
                                                                        <input type="{{item.IAMFieldType}}+3" class="form-control" name="feild_{{i}}" [(ngModel)]="item.apivalue" #nameControl="ngModel" [required]="item.IAMMandatory=='yes'" [pattern]="item.IAMRegExp" validateEqual="feild_{{i-1}}" *ngIf="item.IAMFieldType=='text' && item.IAMValidateAgainstDuplicate=='compare'"
                                                                        />
                                        
                                                                        <select class="form-control" name="feild_{{i}}" [(ngModel)]="item.apivalue" #nameControl="ngModel" [hidden]="item.IAMFieldType!='select'" [required]="item.IAMMandatory=='no'">
                                                      <option value="">Please select a language</option>
                                                      <option *ngFor="let lang of getdata.result[0].formfields" [value]="lang">{{lang.IAMLabel}}
                                                      </option>
                                                    </select>
                                                                        <div *ngIf="!nameControl?.valid && nameControl?.touched " class="text-danger text-left">
                                                                            <div *ngIf="nameControl?.errors?.required" translate>{{item.IAMLabel}}_required</div>
                                                                            <div *ngIf="nameControl?.errors?.pattern" translate>{{item.IAMRegExp}}</div>
                                                                            <div *ngIf="nameControl?.errors?.validateEqual && !nameControl?.errors?.required && !nameControl?.errors?.pattern" translate>Miss match content</div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- <div class="form-group">
                                                                        <button class="btn btn-primary">Register</button>
                                                                    </div> -->
                                                                </form>
                                                        </wizard-step>
                                            </div>
                                           
                                        </form-wizard>
                                        </div>
                            </div>
                               
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

