<div class="row page-titles mx-0">
    <div class="col p-md-0">
      <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a routerLink="/demotab">User</a></li>
        <li class="breadcrumb-item active"><a >{{getdata.givenName}}</a></li>  -->
          <button  routerLink="/demotab" type="button" class="btn mb-1 btn-secondary" translate="Back to userlist" >{{translate}}</button>
      </ol>
    </div>
  </div>

  <div class="container-fluid">
     
              <div class="card">
                  <div class="card-body">
                      <div class="media align-items-center mb-4">
                          <!-- <img class="mr-3" src="../../../assets/images/profile/2.jpg" width="80" height="80" alt="">
                           --><div class="media-body">
                              <h3 class="mb-0">Chip nano</h3>
                              <p class="text-muted mb-0"></p>
                          </div>
                      </div>
                      
                  
                        <!--   <div class="col">
                              <div class="card card-profile text-center">
                                  <span class="mb-1 text-primary"><i class="icon-people"></i></span>
                                  <h3 class="mb-0">263</h3>
                                  <p class="text-muted px-4">Following</p>
                              </div>
                          </div> 
                          <div class="col">
                              <div class="card card-profile text-center">
                                  <span class="mb-1 text-warning"><i class="icon-user-follow"></i></span>
                                  <h3 class="mb-0">263</h3>
                                  <p class="text-muted">Followers</p>
                              </div>
                          </div>  
                          <div class="col-12 text-center">
                              <button class="btn btn-danger px-5">Follow Now</button>
                          </div> -->
                     

                       <!--<h4>About Me</h4> 
                      <p class="text-muted">Hi, I'm Pikamy, has been the industry standard dummy text ever since the 1500s.</p>
                      -->


			<div class="row ">
				<div class="col-lg-6">
					<ul class="card-profile__info">
						<li class="mb-4"><strong class="text-dark mr-4"  translate="mail">{{translate}}</strong>
							<span> <p class="text-muted mb-0">cnano@ad.utopia.netiq.com</p></span></li>
							
						<li class="mb-4"><strong class="text-dark mr-4"  translate="contractStartDate">{{translate}}</strong>
							<span><p class="text-muted mb-0">20/12/2019</p> </span></li>
						<li class="mb-4"><strong class="text-dark mr-4"  translate="IAM-Status">{{translate}}</strong>
							<span><p class="text-muted mb-0">20-Active</p> </span></li>
					</ul>
				</div>


				<div class="col-lg-6">
					<ul class="card-profile__info">
						 <li class="mb-4"><strong class="text-dark mr-4"  translate="IAM-Birthdate">
								{{translate}}</strong> <span> <p class="text-muted mb-0">24/11/1988 </p> </span></li>  
								<li class="mb-4"><strong class="text-dark mr-4"  translate="Kiabi Number">{{translate}}</strong>
							<span><p class="text-muted mb-0">45665</p> </span></li>
							
						<li class="mb-4"><strong class="text-dark mr-4"  translate="telephonenumber">{{translate}}</strong>
							<span><p class="text-muted mb-0"> +32 5666</p></span></li>

					</ul>
				</div>
			</div>
			
			 
	 <!--	 <div class="form-group">
               <button  class="btn btn-primary" data-toggle="modal" data-target="#basicModal"  translate="Activate account">{{translate}}</button>
              </div>
	
	 -->
<div class="form-group">
               <button  class="btn btn-primary" data-toggle="modal" data-target="#basicModal"  translate="Reset Password">{{translate}}</button>
              </div>
		</div>
  </div>
   
   <!--
  
   <div class="row ">
    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                
                                <div class="card-content">
                                    <div class="alert alert-success"  translate="Please provide">
                                        
                                        <p>{{translate}}</p>
                                        <hr>
                                        <h4 class="alert-heading">Spa!585chr</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
  
  </div>
  -->
   <div class="bootstrap-modal">
                                    <!-- Button trigger modal -->
                                    <!-- Modal -->
                                    <div class="modal fade" id="basicModal">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title"  translate="Reset Password">{{translate}}</h5>
                                                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body"  translate="Are you sure to activate this account?">{{translate}}</div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">no</button>
                                                    <button type="button" class="btn btn-primary">sí</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>