          
    
 
 <script type="text/javascript">
 var pathname = window.location.hash;

// window.localStorage.setItem('authtoken', JSON.stringify(pathname));
 

function setCookie() {
//	alert("ss");
 var tokens = JSON.stringify(pathname);
 var newStr = tokens.split('=')[1].split('&')[0];
 
 var Redirectstate = tokens.split('&state=')[1].split('&')[0];
 console.log(Redirectstate);
 
 var uri_dec = decodeURIComponent(Redirectstate);
 window.localStorage.setItem('authtoken', JSON.stringify(newStr));
  document.cookie = "OspTokenCookie" + "=" + newStr;
// window.location.href = 'http://localhost:8080';
window.location.href = uri_dec;
}



	
</script>
        
        <body onload="setCookie()"></body>