<div class="row page-titles mx-0">
  <div class="col p-md-0">
    <ol class="breadcrumb">
   <!--    <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>  -->
      <li class="breadcrumb-item active"><a href="javascript:void(0)" translate='User list'>{{translate}}</a></li>
    </ol>
  </div>
</div>

<div class="container-fluid">


 <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                               <!--  <h4 class="card-title">Users</h4>  -->
                                <p class="text-muted"><code></code>
                                </p>
                                <div id="accordion-three" class="accordion">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0" data-toggle="collapse" data-target="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4"  translate='Direct Reports'><i class="fa" aria-hidden="true"></i> {{translate}}</h5>
                                        </div>
                                        <div id="collapseOne4" class="collapse show" data-parent="#accordion-three">
                                            <div class="card-body">
                                             <div class="row">
											      <div class="col-12 m-b-30">
											         
											         <p class="text-muted"></p> 
											          <div class="row" *ngIf="getdata.length>0">
											              <div class="col-md-6 col-lg-3" *ngFor="let item of filterBy('contractStartDate')| slice:0:3">
											                  <div class="card">
											                      <!-- <img class="img-fluid" src="../../../assets/images/profile/2.jpg" alt="">  -->
											                      <div class="card-body">
											                          <h5 class="card-title">{{item['givenName']}}</h5>
											                          <p class="card-text">{{item.contractStartDate}}</p>
											                          <p class="card-text"><small class="text-muted" routerLink="/view/{{item.dn}}">View Detail</small>
											                          </p>
											                      </div>
											                  </div>
											              </div>
											          </div>
											      </div>
											  </div>
											                                            
                                            
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo5" aria-expanded="false" aria-controls="collapseTwo5"  translate="Indirect Reports"><i class="fa" aria-hidden="true" ></i> {{translate}}</h5>
                                        </div>
                                        <div id="collapseTwo5" class="collapse" data-parent="#accordion-three">
                                            <div class="card-body">
                                            
                                            
                                
                                <p class="text-muted"></p>
                                <div class="basic-dropdown">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Spain</button>
                                        <div class="dropdown-menu"><a class="dropdown-item" href="#">Paris</a> <a class="dropdown-item" href="#">Belgium</a> <a class="dropdown-item" href="#">Germany</a>
                                        </div>
                                    </div>
                                </div>
                           
                                             <div class="row">
											      <div class="col-12 m-b-30">
											          
											         <p class="text-muted"></p> 
											          <div class="row" *ngIf="getdata.length>0">
											              <div class="col-md-6 col-lg-3" *ngFor="let item of filterBy('givenName') | slice:5:7 ;let i=index">
											                  <div class="card">
											                      <!-- <img class="img-fluid" src="../../../assets/images/profile/2.jpg" alt="">  -->
											                      <div class="card-body">
											                          <h5 class="card-title">{{item['givenName']}}</h5>
											                          <p class="card-text">{{item.contractStartDate}}</p>
											                          <p class="card-text"><small class="text-muted" routerLink="/view/{{item.dn}}">View Detail</small>
											                          </p>
											                      </div>
											                  </div>
											              </div>
											          </div>
											      </div>
											  </div>
                                            
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    
  <!-- End Row -->
 
</div>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Tabs</h4>
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true">Home</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                aria-controls="nav-profile" aria-selected="false">Profile</a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                aria-controls="nav-contact" aria-selected="false">Contact</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div> -->