<!--**********************************
          Sidebar start
      ***********************************-->
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
          
            <a href="page-lock.html"> <span> <li class="nav-label">Dashboard</li></span></a>
            <!-- <li>
        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
          <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
        </a>
        <ul aria-expanded="false">
                <li routerLinkActive="active" routerLink="/table"><a >Table</a></li>
                <li  routerLinkActive="active" routerLink="/demoform"><a >Form</a></li>
                <li  routerLinkActive="active" routerLink="/demotab"><a>Card</a></li>
              </ul>
      </li> 
            <li>
                <a aria-expanded="false" routerLinkActive="active" routerLink="/table">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Table example</span>
                </a>
            </li> 
            
              <li>
                <a aria-expanded="false" routerLinkActive="active" routerLink="/demotab">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Gestionar el primer día</span>
                </a>
            </li> 
             
            <li>
                <a aria-expanded="false" routerLinkActive="active" routerLink="/firstday">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">
primer día</span>
                </a>
            </li> 
           
           -->
             
              <li>
                <a aria-expanded="false" routerLinkActive="active" routerLink="/demoform">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text" >Pincode</span>
                </a>
            </li>
          <!--
           <li>
                <a aria-expanded="false" routerLinkActive="active" routerLink="/formwizard">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">FormWizard example</span>
                </a>
            </li> -->
            
            
            
        </ul>
    </div>
</div>
<!--**********************************
              Sidebar end
          ***********************************-->