<!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

      <app-topbar></app-topbar>
    
      <app-sidebar></app-sidebar>
    
      <!--**********************************
                Content body start
            ***********************************-->
      <div class="content-body">
        <router-outlet></router-outlet>
       
      </div>
      <!--**********************************
              Content body end
          ***********************************-->
    
    
      <!--**********************************
              Footer start
          ***********************************-->
      <div class="footer">
        <div class="copyright">
        </div>
      </div>
      <!--**********************************
              Footer end
          ***********************************-->
    </div>